<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style type="text/css">
        body {
            padding-bottom: 100px;
            padding-top: 50px;
        }
        .blockingdiv {
            height:150px;
        }
        .header {
            margin-bottom: 10px;
        }
        .center {
            width: 80%;
            margin: auto;
            max-width: 1000px;
        }
        .slider {
            position: absolute;
            width: 70%;
            height: 60px;
            padding: 30px;
            padding-left: 40px;
            background: #fcfcfc;
            border-radius: 20px;
            display: flex;
            align-items: center;
            box-shadow: 0px 15px 40px #7E6D5766;
            max-width:1000px;
        }
        .slider p {
        font-size: 26px;
        font-weight: 600;
        padding-left: 30px;
        color: black;
        }
        .slider input[type="range"] {
        -webkit-appearance:none !important;
        width: 60vw;
        height: 2px;
        background: black;
        border: none;
        outline: none;
        }
        .slider input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        width: 30px;
        height:30px;
        background: black;
        border: 2px solid black;
        border-radius: 50%;
        cursor: pointer;
        }
        .slider input[type="range"]::-webkit-slider-thumb:hover {
        background: black;
        }
        #submitButton {
            height: 50px;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
      <!-- This form references the homePost route. -->
    <form action="{% url 'homePost' %}" method="post" class="center">
        {% csrf_token %}
        <h1>Lung Cancer Risk Survey</h1>
        <h4>The following survey takes into account multiple factors in an individual's life, ranked on a scale of 1-10, in
            order to make a broad statement about their risk for lung cancer. Results are either "High" or "Low" risk.</h4>
        <h4>Rank the following factors on a scale of 1-10, with 10 being extreme and 1 being minimal.</h4>

        <div class="blockingdiv">
            <h3 class="header">Air pollution</h3>

            <div class="slider">
                <input type="range" min="1" max="10" value="1" name="pollution" id="pollution" oninput="pollutionValue.innerText = this.value">
                <p id="pollutionValue">1</p>
            </div>
        </div>

<!--        <div id="slider">-->
<!--            <input class="bar" id="rangeinput" type="range" min="1" max="10" value="1" name="pollution" id="pollution" onchange="rangevalue.value=value">-->
<!--            <span class="highlight"></span>-->
<!--            <output id="rangevalue">1</output>-->
<!--        </div>-->

<!--        {% for pollution_choice in mynumbers %}-->
<!--            <input type="radio" name="pollution" id="pollution_choice{{ forloop.counter }}" value="{{ pollution_choice }}" checked="checked">-->
<!--            <label for="pollution_choice{{ forloop.counter }}">{{ pollution_choice }}</label><br>-->
<!--        {% endfor %}-->


        <div class="blockingdiv">
            <h3 class="header">Alcohol use</h3>

            <div class="slider">
                <input type="range" min="1" max="10" value="1" name="alcohol" id="alcohol" oninput="alcoholValues.innerText = this.value">
                <p id="alcoholValues" class="rangeValue">1</p>
            </div>
        </div>
<!--        <h3 class="header">Alcohol use</h3>-->
<!--        {% for alcohol_choice in mynumbers %}-->
<!--            <input type="radio" name="alcohol" id="alcohol_choice{{ forloop.counter }}" value="{{ alcohol_choice }}" checked="checked">-->
<!--            <label for="alcohol_choice{{ forloop.counter }}">{{ alcohol_choice }}</label><br>-->
<!--        {% endfor %}-->

        <div class="blockingdiv">
            <h3 class="header">Dust allergies</h3>

            <div class="slider">
                <input type="range" min="1" max="10" value="1" name="allergies" id="allergies" oninput="allergiesValues.innerText = this.value">
                <p id="allergiesValues" class="rangeValue">1</p>
            </div>
        </div>

<!--        <h3>Dust allergies</h3>-->
<!--        {% for allergy_choice in mynumbers %}-->
<!--            <input type="radio" name="allergies" id="allergy_choice{{ forloop.counter }}" value="{{ allergy_choice }}" checked="checked">-->
<!--            <label for="allergy_choice{{ forloop.counter }}">{{ allergy_choice }}</label><br>-->
<!--        {% endfor %}-->

        <div class="blockingdiv">
            <h3 class="header">Occupational hazards</h3>

            <div class="slider">
                <input type="range" min="1" max="10" value="1" name="hazards" id="hazards" oninput="hazardsValues.innerText = this.value">
                <p id="hazardsValues" class="rangeValue">1</p>
            </div>
        </div>

<!--        <h3>Occupational hazards</h3>-->
<!--        {% for hazards_choice in mynumbers %}-->
<!--            <input type="radio" name="hazards" id="hazards_choice{{ forloop.counter }}" value="{{ hazards_choice }}" checked="checked">-->
<!--            <label for="hazards_choice{{ forloop.counter }}">{{ hazards_choice }}</label><br>-->
<!--        {% endfor %}-->

        <div class="blockingdiv">
            <h3 class="header">Obesity</h3>

            <div class="slider">
                <input type="range" min="1" max="10" value="1" name="obesity" id="obesity" oninput="obesityValues.innerText = this.value">
                <p id="obesityValues" class="rangeValue">1</p>
            </div>
        </div>

<!--        <h3>Obesity</h3>-->
<!--        {% for obesity_choice in mynumbers %}-->
<!--            <input type="radio" name="obesity" id="obesity_choice{{ forloop.counter }}" value="{{ obesity_choice }}" checked="checked">-->
<!--            <label for="obesity_choice{{ forloop.counter }}">{{ obesity_choice }}</label><br>-->
<!--        {% endfor %}-->

        <div class="blockingdiv">
            <h3 class="header">Passive smoking</h3>

            <div class="slider">
                <input type="range" min="1" max="10" value="1" name="passive_smoke" id="passive_smoke" oninput="passive_smokeValues.innerText = this.value">
                <p id="passive_smokeValues" class="rangeValue">1</p>
            </div>
        </div>

<!--        <h3>Passive smoking</h3>-->
<!--        {% for passive_choice in mynumbers %}-->
<!--            <input type="radio" name="passive_smoke" id="passive_choice{{ forloop.counter }}" value="{{ passive_choice }}" checked="checked">-->
<!--            <label for="passive_choice{{ forloop.counter }}">{{ passive_choice }}</label><br>-->
<!--        {% endfor %}-->

        <div class="blockingdiv">
            <h3 class="header">Chest pain</h3>

            <div class="slider">
                <input type="range" min="1" max="10" value="1" name="chest_pain" id="chest_pain" oninput="chest_painValues.innerText = this.value">
                <p id="chest_painValues" class="rangeValue">1</p>
            </div>
        </div>

<!--        <h3>Chest pain</h3>-->
<!--        {% for chest_choice in mynumbers %}-->
<!--            <input type="radio" name="chest_pain" id="chest_choice{{ forloop.counter }}" value="{{ chest_choice }}" checked="checked">-->
<!--            <label for="chest_choice{{ forloop.counter }}">{{ chest_choice }}</label><br>-->
<!--        {% endfor %}-->

        <div class="blockingdiv">
            <h3 class="header">Coughing of blood</h3>

            <div class="slider">
                <input type="range" min="1" max="10" value="1" name="blood_cough" id="blood_cough" oninput="blood_coughValues.innerText = this.value">
                <p id="blood_coughValues" class="rangeValue">1</p>
            </div>
        </div>

<!--        <h3>Coughing of blood</h3>-->
<!--        {% for coughing_choice in mynumbers %}-->
<!--            <input type="radio" name="blood_cough" id="coughing_choice{{ forloop.counter }}" value="{{ coughing_choice }}" checked="checked">-->
<!--            <label for="coughing_choice{{ forloop.counter }}">{{ coughing_choice }}</label><br>-->
<!--        {% endfor %}-->

        <div class="blockingdiv">
            <h3 class="header">Fatigue</h3>

            <div class="slider">
                <input type="range" min="1" max="10" value="1" name="fatigue" id="fatigue" oninput="fatigueValues.innerText = this.value">
                <p id="fatigueValues" class="rangeValue">1</p>
            </div>
        </div>

<!--        <h3>Fatigue</h3>-->
<!--        {% for fatigue_choice in mynumbers %}-->
<!--            <input type="radio" name="fatigue" id="fatigue_choice{{ forloop.counter }}" value="{{ fatigue_choice }}" checked="checked">-->
<!--            <label for="fatigue_choice{{ forloop.counter }}">{{ fatigue_choice }}</label><br>-->
<!--        {% endfor %}-->

        <div class="blockingdiv">
            <h3 class="header">Wheezing</h3>

            <div class="slider">
                <input type="range" min="1" max="10" value="1" name="wheezing" id="wheezing" oninput="wheezingValues.innerText = this.value">
                <p id="wheezingValues" class="rangeValue">1</p>
            </div>
        </div>

<!--        <h3>Wheezing</h3>-->
<!--        {% for wheezing_choice in mynumbers %}-->
<!--            <input type="radio" name="wheezing" id="wheezing_choice{{ forloop.counter }}" value="{{ wheezing_choice }}" checked="checked">-->
<!--            <label for="wheezing_choice{{ forloop.counter }}">{{ wheezing_choice }}</label><br>-->
<!--        {% endfor %}-->

        <div class="blockingdiv">
            <h3 class="header">Clubbing of fingernails</h3>

            <div class="slider">
                <input type="range" min="1" max="10" value="1" name="clubbing" id="clubbing" oninput="clubbingValues.innerText = this.value">
                <p id="clubbingValues" class="rangeValue">1</p>
            </div>
        </div>

<!--        <h3>Clubbing of fingernails</h3>-->
<!--        {% for clubbing_choice in mynumbers %}-->
<!--            <input type="radio" name="clubbing" id="clubbing_choice{{ forloop.counter }}" value="{{ clubbing_choice }}" checked="checked">-->
<!--            <label for="clubbing_choice{{ forloop.counter }}">{{ clubbing_choice }}</label><br>-->
<!--        {% endfor %}-->

        <div class="blockingdiv">
            <h3 class="header">Frequent cold</h3>

            <div class="slider">
                <input type="range" min="1" max="10" value="1" name="frequent_cold" id="frequent_cold" oninput="frequent_coldValues.innerText = this.value">
                <p id="frequent_coldValues" class="rangeValue">1</p>
            </div>
        </div>

<!--        <h3>Frequent cold</h3>-->
<!--        {% for cold_choice in mynumbers %}-->
<!--            <input type="radio" name="frequent_cold" id="cold_choice{{ forloop.counter }}" value="{{ cold_choice }}" checked="checked">-->
<!--            <label for="cold_choice{{ forloop.counter }}">{{ cold_choice }}</label><br>-->
<!--        {% endfor %}-->

        <div class="blockingdiv">
            <h3 class="header">Dry cough</h3>

            <div class="slider">
                <input type="range" min="1" max="10" value="1" name="dry_cough" id="dry_cough" oninput="dry_coughValues.innerText = this.value">
                <p id="dry_coughValues" class="rangeValue">1</p>
            </div>
        </div>

<!--        <h3>Dry cough</h3>-->
<!--        {% for dry_choice in mynumbers %}-->
<!--            <input type="radio" name="dry_cough" id="dry_choice{{ forloop.counter }}" value="{{ dry_choice }}" checked="checked">-->
<!--            <label for="dry_choice{{ forloop.counter }}">{{ dry_choice }}</label><br>-->
<!--        {% endfor %}-->

        <div class="blockingdiv">
            <h3 class="header">Snoring</h3>

            <div class="slider">
                <input type="range" min="1" max="10" value="1" name="snoring" id="snoring" oninput="snoringValues.innerText = this.value">
                <p id="snoringValues" class="rangeValue">1</p>
            </div>
        </div>

<!--        <h3>Snoring</h3>-->
<!--        {% for snoring_choice in mynumbers %}-->
<!--            <input type="radio" name="snoring" id="snoring_choice{{ forloop.counter }}" value="{{ snoring_choice }}" checked="checked">-->
<!--            <label for="snoring_choice{{ forloop.counter }}">{{ snoring_choice }}</label><br>-->
<!--        {% endfor %}-->

        <h3>Enter your age</h3>
        <input type="text" id="age" name="age" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"><br><br>

        <input type="submit" value="SUBMIT SURVEY AND CHECK RESULTS" class="btn btn-dark form-control" id="submitButton">
    </form>
    <!-- End of form. -->

    <!-- This error will notify the user if there are issues with the POST request -->
    {% if errorMessage %}<p><strong>{{errorMessage}}</strong></p>{% endif %}
    {% endblock content %}
</body>
</html>